@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
/* Nav Bar */

body { 
    display: block;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: white;
     }

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {color:black;}


div {
    display: block;
}

.nav {
    background-color: white;

    }

.navbar {
    position: relative;
    min-height: 75px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
      }

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 20.5px;
    margin-bottom: 20.5px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar .nav > li > a {
    padding: 30px 40px;
    font-size: 120%;
    color: gray;
}
.navbar .btn-navbar {
    /*margin-right: 0px;*/
    margin-top:15px;
}
.navbar-brand {
  padding-top: 5px;
  padding-bottom: 0px;
  height: 80px;
}

.navbar-brand > img {
    height: 80px;
    padding: 5px 5px;
}

.centralizado {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media (max-width:768px) {

    .navbar .btn-navbar{
        /*margin-right: -15px;*/
    }
    .navbar .nav > li > a {
        padding: 5px 15px;
    }
    .navbar-brand > img {
        height: 50px;
        padding: 7px 15px;
    }


}

.home2 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
      url("AdobeStock_80382687.jpeg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 600px;
    filter:grayscale(50%);
    margin-top: 20px;
    margin-bottom: 20px;

}
/* CSS de los h's */

.jumbotron h1 {
    font-size: 94px;
    margin-bottom: 0;
    letter-spacing: -0.05em;
    line-height: 1em;
}

@media (max-width: 768px) {
    .jumbotron h1 {
        font-size: 46px;
        margin-bottom: 0;
        letter-spacing: -0.05em;
        line-height: 1em;
        }
    }

h1, .h1 {
    font-size: 46px;

    }

.jumbotron h3 {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: -0.01em;
    line-height: 1.5em;
    padding: 5px 0 15px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 25px;
    margin-bottom: 12.5px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    margin-right: 10px;
    margin-left:10px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size:50px;
    }
} 

/*CSS para que los botones se vean blancos*/

.btn-default {
    border-radius: 2px;
    border: solid 3px #0c1f24;
    background-color: transparent;
}

.btn-white {
    color: #fff !important;
    border-color: #fff !important;
    margin: 10px 0;
    }

.btn {
    font-weight: 100;
    white-space: normal
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    user-select: none;
}
.btn-block {
    display: block;
    width: 100%;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 23px;
    line-height: 1.3333333;
}

.jumbotron 
{background-color: transparent;}

#div-pagination{clear: both;}

.carousel {padding-bottom: 20px}
.carousel img {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 400px;
    width: 100%;
    }
.carousel h2 {
    color: #0072b5;
    font-weight: 100;
    }

.carousel p {
    color: #289bde;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 25px;
}

.elmedio {
    height: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    }


/* ARREGLO CAROUSEL EN CELULAR */

@media (max-width: 768px) {
    .carousel img {
        height: 200px;
        width: 100%;
        }
    .carousel h2 {
        font-size: 25px;
        }
    .carousel p {
        font-size: 15px;
         }
    }


/*CSS del NEWSFEED */

#newsfeed {
    display: flex;
    justify-content: center;
}

#newsfeed0 {
    background-color: white;
    border-radius: 5px;
    border: 1px solid gainsboro;
    overflow: hidden;
    box-shadow: 0 3px 3px rgba(220, 220, 220, 0.5);
    margin: 10px 10px 10px 10px;
   }

#newsfeed1 {
    color: #0072b5;
    font-weight: 100;
    text-align: center;
    }

#newsfeed2 {
    color: #289bde;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    }

/* arreglo de News Feed en Celular */
@media (max-width: 768px) {
    #newsfeed1 {
        font-size: 20px;
        }
    #newsfeed {
         flex-direction: column;
        }
    #newsfeed2 {
         font-size: 15px;
        }
    }


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  background: #f1f1f1 none repeat scroll top left;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: normal;
}

a,
a:visited {
  color: #555;
  outline: none;
  text-decoration: none;
}

a:hover,
a:focus,
a:visited:hover {
  color: #22a1c4;
  text-decoration: none;
}

.container {
  max-width: 810px;
  margin: 5% auto;
  color: #95a5a6;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: normal;
}

/* CSS del news feed */

aside#bott{
    font-family: 'Open Sans', sans-serif;
    position:static;
    left:0;
    right:0;
    bottom:0;
    margin:5% auto 0 auto;
    flex:none;
    display:flex;align-items:center;
    justify-content:center;
    background:rgba(26,188,156,.9);
    color:#fff;padding:1em
}
aside span.bott{
    color:inherit;
    text-decoration:none;
    font-weight:normal;
    display:inline-block;
    padding:.4em 1em}

/*termina stylesheet para el carousel del newsfeed y blog */

/*footer*/
.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}

.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
#menu-social-menu li{display: inline-table}

/*footer*/
